body.page-template-tmpl_home{
	.mobile{
		display: none;
	}

	section.hero{
		background-position-y: center;
		background-position: bottom;
		background-size: cover;
		position: relative;
		max-height: 85vh;
		overflow: hidden;
		margin-top: -110px;
		
		.image{
			img{
				width: 100%;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 80vh;
				background: linear-gradient(180deg, #424143 10%, rgba(68, 66, 69, 0.55) 55%, rgba(66, 65, 67, 0.00) 85%);
			}
		}

		
		.inner{
			width: 100%;
			position: absolute;
			top: 0;
			padding: 15% 70px 3.6% 70px;
			left: 0;
			@include center-horizontal;
			
			.content{
				//float: right;
				
				h1{
					white-space: nowrap;
					color: #fff;
					font-weight: 500;
					font-size: 6.8rem;
					line-height: 1em;
					letter-spacing: 2.45px;
					text-transform: uppercase;
					margin: 0;
					padding: 0;
					border-bottom: none;
				}

				p{
					color: #fff;
					width: 100%;
					max-width: 370px;
					font-family: Montserrat;
					font-size: 1.5rem;
					font-weight: 500;
					line-height: 2rem;
					margin: 35px 30% 0 0;
					padding: 15px 0 0;
					border-top: solid 1px;
				}
			}
		}

		@media only screen and (max-width: 1200px){	
			.inner .content{
				h1{
					font-size: 5.8rem;
				}
			}
		}

		@media only screen and (max-width: 990px){	
			.inner .content{
				h1{
					font-size: 3.5rem;
				}
			}
		}

		@media only screen and (max-width: 760px){
			overflow: initial;
			height: auto;
			margin-top: -10px;

			.image{
				&::before{
					display: none;
				}
			}

			.mobile{
				display: block;
			}
			
			.inner{
				width: 100%;
				position: relative;
				display: block;
				top: initial;
				left: initial;
				transform: none;

				.content{
					float: none;
					position: relative;
					padding: initial;
					padding-top: 40px;
					display: block;
					margin-top: -25px;

					h1{
						color: $text-color;
						//display: none;
					}
		
					p{
						color: $text-color;
						width: 100%;
						max-width: 100%;
						margin: 0;
						padding: 15px 0;
						border-top: none;//
					}
				}
			}
		}
	}

	section.stats{
		background-color: $orange;
		.inner{
			color: #fff;
			text-align: center;
			font-family: Montserrat;
			font-size: 5rem;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: -0.75px;

			.content{
				padding: 0 50px;
				p{
					margin: 0;
					padding: 0;
				}
			}

			.stats-wrapper{
				width: 100%;
				display: flex;
				padding-top: 70px;

				.stat{
					width: 33%;
					flex-grow: 1;
					font-family: Montserrat;
					font-size: 4rem;
					line-height: 130%;
					letter-spacing: -0.8px;
					
					.number{
						font-weight: 700;
					}
				}
			}
		}

		@media only screen and (max-width: 900px){	
			.inner{
				.stats-wrapper{
					flex-wrap: wrap;
					.stat{
						margin-bottom: 20px;
					}
				}
			}
		}

		@media only screen and (max-width: 720px){	
			.inner{
				font-size: 3rem;

				.content{
					padding: 0;
				}

				.stats-wrapper{
					padding-top: 50px;
					.stat{
						font-size: 3rem;
						line-height: 90%;
					}
				}
			}
		}
	}

	section.industries{
		background-color: #F5F4F3;
		.inner{
			padding: 65px 100px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			
			.industry{
				flex-grow: 1;
				width: 15%;
				min-width: 100px;
				margin-right: 5%;

				&:last-child{
					margin-right: 0;
				}

				.title{
					text-align: center;
					font-family: $font-headers;
					font-size: 2rem;
					font-weight: 500;
					line-height: 1.2em;
					letter-spacing: 0.9px;
					text-transform: uppercase;
					margin-top: 20px;
				}

				.image{
					img{
						width: 100%;
						overflow: hidden;
						border-radius: 50%;
					}
				}
			}
		}

		@media only screen and (max-width: 900px){	
			.inner{
				.industry{
					width: 180px;
					max-width: 180px;
					margin-bottom: 50px;
				}
			}
		}
	}

	section.services{
		.inner{
			h2{
				font-family: $font-headers;
				font-size: 2.4rem;
				font-weight: 500;
				line-height: 130%;
				text-transform: uppercase;
				margin: 0 0 30px;
			}

			.services-container{
				padding-left: 180px;
				.service{
					display: flex;
					gap: 50px;
					padding-bottom: 40px;
					margin-bottom: 40px;
					padding-right: 10%;
	
					.photo{
						width: 60%;
						max-width: 600px;
						img{
							width: 100%;
						}
					}
	
					.content{
						width: 50%;
						font-family: Montserrat;
						font-size: 1.6rem;
						font-weight: 400;
						line-height: 155%;
	
						.title{
							color: $orange;
							font-family: Montserrat;
							font-size: 2rem;
							font-weight: 700;
							line-height: 155%;
							margin-bottom: 10px;
						}
					}
	
					&.flipped{
						flex-direction: row-reverse;
					}
	
					&:last-child{
						border: none;
					}
				}
			}
		}

		@media screen and(max-width: 800px) {
			.inner .services-container{
				padding-left: 0px;
				.service{
					display: block;
					padding-right: 0;
	
					.photo{
						width: 100%;
						max-width: 100%;
						margin-bottom: 10px;
					}
	
					.content{
						width: 100%;
					}
				}
			}
		}
	}

	section.about{
		background-color: #424143;
		.inner{
			display: flex;
			align-items: center;

			.logo{
				width: 25%;
				img{
					width: 100%;
					max-width: 350px;
				}
			}

			.right{
				margin-left: auto;
				width: 60%;
				max-width: 712px;
				h3{
					color: $orange;
					font-family: Montserrat;
					font-size: 3rem;
					font-weight: 600;
					line-height: 106%;
					margin: 0;
				}

				.content{
					width: 100%;
					display: flex;
					align-items: center;
					color: #fff;
					width: 100%;
					margin-top: 30px;

					.body{
						font-family: Montserrat;
						font-size: 1.6rem;
						font-weight: 400;
						line-height: 155%;

						ul,ol{
							margin: 0 0 0 20px;
							padding: 0;

							li{
								padding: 2px 0;
							}
						}
					}
					.cta{
						margin-left: auto;
						a{
							margin-top: 0;
						}
					}
				}
			}

			.stats-wrapper{
				width: 100%;
				display: flex;
				padding-top: 30px;

				.stat{
					text-align: center;
					color: #fff;
					width: 50%;
					flex-grow: 1;
					font-family: Montserrat;
					font-size: 3rem;
					line-height: 130%;
					letter-spacing: -0.8px;
					
					.number{
						font-weight: 700;
					}
				}
			}
		}

		@media screen and(max-width: 900px) {
			.inner{
				display: flex;
				flex-direction: column;
				align-items: center;
	
				.logo{
					text-align: center;
					width: 100%;
				}
	
				.right{
					margin-top: 40px;
					width: 100%;
					max-width: initial;
				}
			}
		}

		@media screen and(max-width: 650px) {
			.inner{
				.logo{
					img{
						max-width: 200px;
					}
				}

				.right{
					h3{
						font-size: 2.5rem;
					}

					.content{
						display: block;
						.cta{
							margin-top: 20px;
						}
					}

					.stats-wrapper{
						display: block;
						.stat{
							width: 100%;
							&:first-child{
								margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}

	section.featured-projects{
		.inner{
			h2{
				font-family: $font-headers;
				font-size: 2.4rem;
				font-weight: 500;
				line-height: 130%;
				text-transform: uppercase;
				margin: 0 0 30px;
			}

			.project{
				display: flex;
				align-items: center;
				gap: 60px;
				border-bottom: solid 1px $orange;
				padding-bottom: 40px;
				margin-bottom: 40px;

				.photo{
					width: 50%;
				}
				.content{
					width: 50%;
					font-family: Montserrat;
					font-size: 1.6rem;
					font-weight: 400;
					line-height: 155%;

					h1, h2, h3, h4{
						color: $orange;
						font-family: Montserrat;
						font-size: 2rem;
						font-weight: 700;
						line-height: 155%;
						margin: 0 0 10px 0;
					}

					a.btn{
						margin-top: 10px;
						display: inline-block;
						background-color: #fff;
						padding: 10px 22px;
						font-family: Montserrat;
						font-size: 1.6rem;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.176px;
						text-transform: uppercase;
						transition: all .2s;
						text-decoration: none;
	
						&:hover{
							text-decoration: none;
							background-color: darken($orange, 10%);
						}
					}
				}

				&:last-child{
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}

		@media screen and(max-width: 1100px) {
			.inner{
				.project{
					align-items: flex-start;
				}
			}
		}

		@media screen and(max-width: 900px) {
			.inner{
				.project{
					display: block;
					padding-left: 0;
	
					.photo{
						width: 100%; 
					}
	
					.content{
						width: 100%;
						padding-right: 0%;
						margin-top: 20px;
					}
				}
			}
		}
	}

	section.leadership{
		background-color: #F5F4F3;

		.inner{

			h2{
				font-family: $font-headers;
				font-size: 2.4rem;
				font-weight: 500;
				line-height: 130%;
				text-transform: uppercase;
				margin: 0 0 10px;
			}

			.content{
				font-family: Montserrat;
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 2.4rem;
				margin: 0 0 30px;
			}

			a.btn{
				width: 158px;
				display: block;
				margin: 0 auto;
			}

			.bios{
				display: flex;
				flex-wrap: wrap;
				gap: 30px;

				.bio{
					width: 18%;

					.photo{
						margin-bottom: 20px;
						img{
							width: 100%;
							max-width: 267px;
						}
					}

					.content{
						font-family: Montserrat;
						font-size: 1.6rem;
						font-weight: 400;
						line-height: 2.4rem;

						.name-container{
							.name{
								color:$orange;
								font-family: Montserrat;
								font-size: 2rem;
								font-weight: 700;
							}

							.title{
								font-family: Montserrat;
								font-size: 2rem;
								font-weight: 400;
								position: relative;
							}
						}
					}
				}
			}
		}

		@media screen and(max-width: 900px) {
			.inner{
				.bios{
				.bio{
					width: 45%;

					.content{
						.name-container{
							.name{
								color:$orange;
								font-family: Montserrat;
								font-size: 1.6rem;
								font-weight: 700;
							}

							.title{
								font-family: Montserrat;
								font-size: 1.6rem;
								font-weight: 400;
								position: relative;
							}
						}
					}
				}
			}
			}
		}
	}

	section.related-links{
		background-color: $orange;
		.inner{
			h2{
				font-family: $font-headers;
				font-size: 2.4rem;
				font-weight: 500;
				line-height: 130%;
				text-transform: uppercase;
				margin: 0 0 30px;
			}

			.links{
				width: 70%;
				float: right;

				.link{
					display: flex;
					align-items: flex-start;
					border-bottom: solid 1px #fff;
					padding-bottom: 38px;
					margin-bottom: 38px;
					
					.logo{
						width: 60%;
						max-width: 340px;
						text-align: center;
						img{
							color: #fff;
							height: auto;
							//width: 100%;
						}
						.arrow{
							display: none;
						}
					}
					p{
						width: 40%;
						font-family: Montserrat;
						font-size: 1.5rem;
						font-weight: 500;
						line-height: 141.5%;
						letter-spacing: -0.225px;

						width: 65%;
						color: #fff;
						margin: 0;
						padding: 0 10% 0 10%;
						a{
							font-weight: 400;
							color: #fff;
							text-decoration: none;
						}
					}

					.arrow-desktop{
						position: relative;
						img{
							position: relative;
							left: 0;
							transition: all .2s;
						}
					}

					&:last-child{
						border-bottom: none;
						padding-bottom: 0;
						margin-bottom: 0;
					}

					&:hover{
						.arrow-desktop img{
							left: 10px
						}
					}
				}
			}
		}

		@media only screen and (max-width: 960px){	
			padding-bottom: 30px;
			.inner{	
				.links{
					margin-top: 40px;
					width: 100%;
					float: none;
					.link{
						display: flex;
						flex-direction: column;
						.logo{
							width: 100%;
							display: flex;
							max-width: initial;
							padding-bottom: 2%;
							margin-bottom: 2%;

							img{
								//width: 70%;
								max-width: 300px;
							}
							.arrow{
								text-align: right;
								display: block;
								width: 100%;
								img{
									max-width: 52px;
								}
							}
						}
						p{
							width: 100%;
							margin: 0;
							padding: 0;
						}
						a.arrow-desktop{
							display: none;
						}
					}
				}
			}
		}

		@media only screen and (max-width: 600px){	
			.inner{	
				h2{
					margin-bottom: 5%;
				}
	
				.links{
					.link{
						.logo{
							align-items: center;
							img{
								max-width: 70%;
							}
						}
	
						&:first-child{
							margin-bottom: 3%;
						}
					}
				}
			}
		}
	}
}